<!DOCTYPE html>

<div>
    <br/>
    <h2>{{ weather.title }}</h2>
    <br/>
    <ul class="list-unstyled mt-3 mb-4">
      <li><img ng-src="{{get_icon(weather.consolidated_weather[0].weather_state_abbr)}}">{{weather.consolidated_weather[0].the_temp | number:0}}°C</li>
      <li>
            Max: {{weather.consolidated_weather[0].max_temp | number:0}}°C<br>
            Min: {{weather.consolidated_weather[0].min_temp | number:0}}°C
      </li>
    </ul>
    <p><button class="btn btn-secondary" type="submit" ng-click="go_to_weather(weather.woeid)">View details &raquo;</button></p>
    <!--<p><a class="btn btn-secondary" href="#" role="button" ng-click="go_to_weather('638242')">View details &raquo;</a></p>-->
</div>
